@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Roboto", sans-serif;
  --color-primary: #11174a;
  --color-secondary-yellow: #ffbf47;
  --primary-gradient: linear-gradient(to right, #11174a, #5e649b);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.primary-gradient {
  background: var(--primary-gradient);
}

.landing-cta-shadow:hover {
  box-shadow: 0px 0px 170px 20px rgba(255, 191, 71, 0.607);
}

.faded-gradient {
  background: #d4d6ec;
  background: radial-gradient(at left bottom, #d4d6ec, #f4f4f3);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #11174a !important;
}

::-webkit-scrollbar-track {
  background: #ffbf47;
}

::-webkit-scrollbar-thumb {
  background-color: #11174a;
}
